/* FONTS
font-family: 'Press Start 2P', cursive;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Bangers', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root{
    --title1-font:'Press Start 2P', cursive;
    --title2-font: 'Rubik Mono One', sans-serif;
    --text-font: 'Bangers', cursive;
}
body {
    background: url(../img/pokeback.jpg);
    background-size: 165%;
}

/* Start Button */

.startbutton {
    display: block;
    margin: 6px auto;
    margin-top: 250px;
    text-align: center;    
    padding: 40px 5px 40px 5px;
    width: 30%;
    border-radius: 10px;

    color: black;
    font-family: var(--title1-font);
    font-size: 50pt;
    background-color: rgba(255, 255, 255, 0.7);
    border: 5px solid black;
}

.startbutton:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.startbutton:active {
    background-color: rgba(255, 255, 255, 0.7);
}

.game {
    display: none;
}

/* Header */

.head {
    text-align: center;
    margin: 20px auto;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;

    color: black;
    font-family: var(--title2-font);
    font-size: 40pt;

    background-color: white;
    border: 5px solid black;
}

.title {
    text-align: center;
    margin: 6px auto;
    padding: 10px 5px 10px 5px;
    width: 32%;

    color: black;
    font-family: var(--title1-font);
    font-size: 12pt;

    background-color: white;
    border: 5px solid black;
}

.ptitle {
    text-align: center;
    width: 90%;
    font-size: 10pt;
}

/* Action */

.action {
    text-align: center;
    margin: 6px auto;
    padding: 10px 5px 10px 5px;
    margin-top: 100px;
    width: 90%;

    color: white;
    font-family: var(--title1-font);
    font-size: 12pt;

    background-color: black;
    border: 5px solid white;
}


/* Pokemon */

.pokemonImage {
    display: block;
    width: 350px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0px auto;
    margin-top: 40px;
    border: 10px solid #FFCB05;
    
}

.individualpokemon {
    margin-left: 5px;
    margin-right: 5px;
}

.pokemonImage:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.pokemonImage:active {
    background-color: rgba(255, 255, 255, 1);
}

.individualpokemon {
    float: left;
}

.enemyDiv {
    display: inline-block;
    margin: 0px auto;
}

.stat {
    text-align: center;
    margin: 0px auto;
    padding: 5px auto;
    font-family: var(--title2-font);
    font-size: 10pt;
    width: 100%;

    margin-bottom: 50px;
}

.statbar {
    display: block;
    background-color: #FFCB05;
    border: 10px solid #FFCB05;
    width: 350px;
    height: 50px;
    margin: 10px auto;
}

.pokeName {
    text-decoration: underline;
}

/* attack Button */

.attackbutton {
    display: block;
    margin: 6px auto;
    margin-top: 10px;
    text-align: center;    
    padding: 10px 5px 10px 5px;
    width: 80%;
    border-radius: 10px;

    color: black;
    font-family: var(--title1-font);
    font-size: 10pt;
    background-color: rgba(255, 255, 255, 0.7);
    border: 5px solid black;
}

.attackbutton:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.attackbutton:active {
    background-color: rgba(255, 255, 255, 0.7);
}
