/* FONTS
font-family: 'Press Start 2P', cursive;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Bangers', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root{
    --title1-font:'Press Start 2P', cursive;
    --title2-font: 'Rubik Mono One', sans-serif;
    --text-font: 'Bangers', cursive;
}
body {
    background: url(../img/pokeback.jpg);
    background-size: cover;
}

/* Header */

.head {
    text-align: center;
    margin: 20px auto;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 80%;

    color: black;
    font-family: var(--title2-font);
    font-size: 40pt;

    background-color: white;
    border: 5px solid black;
}

.title {
    text-align: center;
    margin: 6px auto;
    padding: 10px 5px 10px 5px;
    width: 32%;

    color: black;
    font-family: var(--title1-font);
    font-size: 12pt;

    background-color: white;
    border: 5px solid black;
}

.ptitle {
    text-align: center;
    width: 90%;
    font-size: 10pt;
}

