/* FONTS
font-family: 'Press Start 2P', cursive;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Bangers', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root{
    --title1-font:'Press Start 2P', cursive;
    --title2-font: 'Rubik Mono One', sans-serif;
    --text-font: 'Bangers', cursive;
}
body {
    background: url(../img/marioback.jpg);
    background-size: cover;
}

/* Header */

.head {
    text-align: center;
    margin: 20px auto;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 45%;

    color: black;
    font-family: var(--title1-font);
    font-size: 40pt;

    background-color: white;
    border: 5px solid black;
}

.instruct {
    text-align: center;
    margin: 6px auto;
    padding: 10px 5px 10px 5px;
    width: 32%;

    color: black;
    font-family: var(--title2-font);
    font-size: 12pt;

    background-color: white;
    border: 5px solid black;

}

#instruct1 {
    font-size: 16pt;
}

/* Game Board */
.game{
    display: none;
}

.gamebox {
    height: 400px;
}

.numbertitle {
    text-align: center;
    font-family: var(--title3-font);
    text-align: center;
    margin: 20px auto;
    padding: 20px 0px 20px 0px;
    width: 32%;

    color: white;
    font-size: 18pt;
}

#covernumber {
    height: 130px;
    margin: 0px auto;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.numberbox{
    text-align: center;
    font-family: var(--title2-font);
    font-size: 80pt;
    margin: 20px auto;
    padding: 55px 0px 40px 0px;

    width: 180pt;
    height: 180pt;
    background-color: rgba(255, 255, 255, 0.8);
    border: 5px solid black
}

/* Total Wins and Loses */

.scoretitle {
    font-family: var(--title3-font);
    font-size: 12pt;
    color: black;
    margin: 10px auto;
    margin-top: 13px;
    text-align: center;
}

.score {
    background-color: rgba(0, 0, 0, 0.3);
    border: 5px solid black;
    width: 60pt;
    height: 60pt;
    margin: 10px auto;
    padding: 22px 10px 10px 10px;

    font-family: var(--title3-font);
    font-size: 18pt;
    color: white;
    text-align: center;
}

/* Object styling/hover/active */

.indObject {
    margin: 32px 27px 10px 25px;
    padding: 10px 15px 10px 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 5px solid black;

    width: 110pt;
    height: 100pt;
}
.indObject:hover {
    background-color: rgba(255, 255, 255, 0.6);
}
.inindObjectdobj:active {
    background-color: rgba(255, 255, 255, 0.9);
}

/* Play Button */
.openbutton {
    display: block;
    padding: 20px 20px;
    margin: 0px auto;
    margin-top: 150px;
    width: 30%;
    height: 200px;
    background-color: black;
    border:5px solid white;
    border-radius: 4px;
    transition-duration: 0.4s;

    color:white;
    font-family: var(--title1-font);
    font-size: 30pt;
}

.openbutton:hover {
    color:black;
    background-color: white;
    border:5px solid black;

}


.openbutton:active {
    color:white;
    background-color: black;
    border:5px solid black;

}

#showbutton {
    width: 90%;
    font-size: 14pt;
    margin-top: 70px;
    height: 100px;
}




