@media only screen 
and (min-device-width : 790px) 
and (max-device-width : 1024px)  {
    .pokemonImage {
        width: 190px;
        height: 190px;
       
    }

    .statbar {
        width: 190px;
    }

    .stat {
        font-size: 5.5pt;
    
        /* margin-bottom: 50px; */
    }
    
}